<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mobile Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="styles/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="styles/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../bower_components/magnific-popup/dist/magnific-popup.css"> -->
    <link rel="stylesheet" href="assets/app.css">
</head>

<body ng-controller="BodyCtrl">
    <div ng-class="{'duo-mask':loadingMask == true}">
        <div ng-class="{'duo-spinner-wrapper':loadingMask == true}" class="duo-hidden">
            <div class="duo-spinner"></div>
        </div>
    </div>
    <div id="wrapper">

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Mobile Admin</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="MenuCtrl">
                <ul class="nav navbar-nav side-nav">
                    <li ng-class="{active:isMenuSelected('content')}"><a href="" ng-click="clickArticles()"><i class="fa fa-table"></i> 文章</a>
                    </li>
                    <li ng-class="{active:isMenuSelected('categories')}"><a href="" ng-click="clickCategories()"><i class="fa fa-tags"></i> 分类</a>
                    </li>
                    <li ng-class="{active:isMenuSelected('images')}"><a href="index.html#images"><i class="fa fa-picture-o"></i> 图片</a>
                    </li>


                </ul>
                <div class="duo-nav-status">
                    <span>{{status}}</span>
                </div>
                <ul class="nav navbar-nav navbar-right navbar-user">

                    <li class="dropdown user-dropdown">

                        <a href="" class="dropdown-toggle"><i class="fa fa-globe" data-toggle="dropdown"></i> {{selectedLang.attributes.name}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li ng-repeat="item in langs" ng-click="selectLang(item)"><a href="">{{item.attributes.name}}</a>
                            </li>
                        </ul>
                    </li>



                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle"><i class="fa fa-user"></i> {{currentUser.attributes.username}}
                         </a>

                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle" ng-click="logout()">
                            <i class="fa fa-sign-out"></i> 退出
                        </a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


        <div id="page-wrapper">
            <div class="alert alert-success alert-dismissable" ng-class="{'duo-hidden':alertDismissed == true}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="alertDismissed = true;">×</button>
                {{alertMsg}}
            </div>
            <div ng-view>
            </div>

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../lib/jquery-1.10.2.min.js"></script>
    <script src="../lib/bootstrap.js"></script>
    <!-- Page Specific Plugins -->

    <!-- CK editor -->
    <script type="text/javascript" src="../lib/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="../lib/ckeditor/adapters/jquery.js"></script>

    <script src="../lib/tablesorter/jquery.tablesorter.js"></script>
    <script src="../lib/tablesorter/tables.js"></script>
    <script src="../lib/parse-1.2.13.min.js"></script>


    <script src="./assets/app.js"></script>
    <script>
    $(document).ready(function() {
        Parse.initialize("wGmHHvHhpgMf2PSyEVIrlYDDV7Gn04bq1ZEuG5Qd", "n2Jj001rsTaFhaTXwiVJInizNBUZdPGc4O0VehZE");

        angular.bootstrap(document, ['myApp']);


        //bootstrap
        $('.dropdown-toggle').dropdown();
        $('body').on('click', function() {
            $('.open').removeClass('open')
        })
    })
    </script>


    <script src="//localhost:7777/livereload.js"></script>

</body>

</html>