<div class="row">

    <div class="col-md-12">
        <div class="col-md-8">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div class="collapse navbar-collapse">

                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="" ng-click="selectedItem = {}"><i class="fa fa-plus"></i> 新增</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped tablesorter">
                                <thead>
                                    <tr>
                                        <th>顺序 <i class="fa fa-sort"></i>
                                        </th>
                                        <th>名字 <i class="fa fa-sort"></i>
                                        </th>
                                        <th>语言 <i class="fa fa-sort"></i>
                                        </th>
                                        <th>更新日期 <i class="fa fa-sort"></i>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{selectedLang.attributes.name}}
                                    <tr ng-repeat="item in categories | filter:item.status!='deleted'" ng-click="$parent.selectedItem = item;$parent.selectedLang = selectedItem.get('lang')" ng-class="{success:$parent.selectedItem.id == item.id}">
                                        <td>{{item.attributes.order}}</td>

                                        <td>{{item.attributes.name}}</td>
                                        <td>{{item.get('lang').get('name')}}</td>

                                        <td>{{item.updatedAt}}</td>
                                        <td>

                                            <button type="button" class="btn btn-default" ng-click="delete(item)" ng-confirm-click="是否要删除{{item.attributes.title}}？"><i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <form role="form" ng-submit="submit(selectedItem)">
                <div class="form-group">
                    <label for="categoryName">分类</label>
                    <input type="text" class="form-control" id="questionsetName" placeholder="" ng-model="selectedItem.attributes.name" required>
                </div>

                <div class="form-group">

                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-default">保存</button>
                    </div>
                    <div class="col-sm-6">
                        <button type='button' class="btn btn-default" ng-click="selectedItem={}">新增</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>