<div>

    <ng-include src="'templates/detail.html'"></ng-include>


    <div class="panel panel-default">


        <div class="panel-heading">


            <ul class="nav nav-pills duo-header-nav" ng-controller="CategoryCtrl">
                <li ng-class="{active:item.id == activeCategory.id}" ng-repeat="item in categories"><a href="#" ng-click="activeCategory=item">{{item.attributes.name}}</a>
                </li>
            </ul>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                        <tr>
                            <th>Order <i class="fa fa-sort"></i>
                            </th>
                            <th>Title <i class="fa fa-sort"></i>
                            </th>
                            <th>Intro<i class="fa fa-sort"></i>
                            </th>
                            <th>Date <i class="fa fa-sort"></i>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in articles">
                            <td>{{item.attributes.order}}</td>
                            <td>{{item.attributes.title}}</td>
                            <td>{{item.attributes.intro}}</td>
                            <td>{{item.updatedAt}}</td>
                            <td>
                                <button type="button" class="btn btn-default" ng-click="viewDetail(item)">View</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>