<div class="row">
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">

                {{activeDetailItem.attributes.title}}

                <a class="close" ng-click="closeme()"><i class="fa fa-times"></i></a>

            </div>

            <div class="panel-body">
                <form class="form" ng-submit="save()">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="">标题</label>
                                <input type="text" class="form-control" placeholder="" ng-model="activeDetailItem.attributes.title" required autofocus>

                            </div>

                            <div class="form-group">
                                <label for="">介绍</label>
                                <textarea class="form-control" rows="3" ng-model="activeDetailItem.attributes.intro" required/>

                            </div>
                            <div class="form-group">
                                <label for="">分类</label>
                                <select ng-model="activeCategory" ng-options="cate.attributes.name for cate in categories">

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">图片</label>
                                <a href="" ng-click="openImagesModal()">選擇</a>
                                <span>{{selectedImage.attributes.name}}</span>
                                <img ng-src="{{currentImageUrl}}" style="max-width:300px;max-height:150px;">
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label for="">文章内容</label>
                                <ckeditor content="activeDetailItem.attributes.content"></ckeditor>
                            </div>

                            <div class="form-group">
                                <label for="">全文链接</label>
                                <input placeholder="https://" ng-model="activeDetailItem.attributes.url" class="form-control"></input>


                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left:5px">
                        <div class="col-sm-12">
                            <button class="btn btn-lg btn-default btn-block" type="submit">
                                {{saveBtnText}}
                            </button>

                        </div>

                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>